h1 {
  font-family: "IM Fell English SC", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 75px;
  color:maroon;
}
body{
  background-color: linear-gradient(180deg,black,maroon,red,orangered,orange,);
}