h1 {
  background-color: linear-gradient(180deg,black,maroon,red,orangered,orange,);
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 75px;
  color:maroon;
}
head {
  background-color: linear-gradient(180deg,black,maroon,red,orangered,orange,);
}